:markdown
  ## Why BSSP?
    BOH’s Student Scholarship Program (BSSP) launched back in 2013 after the women of WOCAP expressed their desire to see their children or grandchildren attend school. Most Ugandan children are unable to consistently stay in school simply because their families cannot afford school fees.

  ## Impact
    BSSP seeks to promote students’ academic, emotional, social, physical and spiritual health and develop students into leaders who will positively impact their communities. Providing education for children will improve the quality of life for participating students, while also contributing to the development of their local communities.

  ##What you can do
    Partner with BOH through BSSP. By giving the gift of education, you are giving BSSP students hope for a brighter future. In partnering, we welcome you to the “BSSP Family,” made up of our students, donors, and support staff. This family ensures that all students have the support system they need to succeed and allows our donors to get to know students through monthly spotlights.

.row
  .large-12.columns.donate-option.text-center
    %a.button{href: 'https://becauseofhope.webconnex.com/ssp'} Donate

%hr

%h2 Meet the students

.row
  .small-12.columns
    %ul.small-block-grid-3
      - @items.select{ |item| /^\/programs\/bssp\/.+/.match(item.identifier)}.sort_by{|item| item.identifier}.each do |item|
        %li
          .program-people
            .story.show-for-medium-up
              %img{alt: item[:title],src: item[:thumbnail]}
              %p.hover
                = item[:description]
            .story.show-for-small-only
              %a{href: item.identifier}
                %img{alt: item[:title],src: item[:thumbnail]}
            .name
              = item[:title]
