:markdown
  ## Donate towards a runner's goal

  Our passionate group of runners are training hard for the purpose of raising awareness and funding for BOH.  This funding significantly impacts BOH’s ability to grow our programs to reach sustainability and empowerment in Uganda!

  On behalf of our runners, BOH team, the women and their families, THANK YOU!

  # Runner Donation Pages

  Click to choose a runner and contribute towards their fundraising goal of $1,000.

  [Cas Green](https://becauseofhope.webconnex.com/casgreen)

  [Dori Levy](https://becauseofhope.webconnex.com/DoriLevy)

  [Daniel Ruiz](https://becauseofhope.webconnex.com/danielruiz)

  [Everildo Mendez](https://becauseofhope.webconnex.com/EverildoMendez)

  [Kara Randall](https://becauseofhope.webconnex.com/kararandall)

  [Lacey Zaiser](https://becauseofhope.webconnex.com/LaceyZaiser)

  [Lyndzie Blum](https://becauseofhope.webconnex.com/LyndzieBlum)

  [Meredith Cabaniss](https://becauseofhope.webconnex.com/MeredithCabaniss)
  
  [Natalie Lemonnier](https://becauseofhope.webconnex.com/NatalieRuns)