:markdown
  ## SANTA BARBARA’S VETERAN’S DAY MARATHON & HALF

  Itching to check off running a marathon from your bucket list?  Want to get into better shape?  Enjoy bringing friends together to support a worthy cause?  **Sign-up to run for Because of Hope in Santa Barbara’s Veterans Day Marathon & Half Saturday, November 7th, 2015!)**

  *BOH seeks to sustainably empower widows and orphans living in Uganda.* We work with a group of 225 women in Uganda and have programs in beading, education, and agriculture.  For more information check out our “programs” tab.

  We are asking runners to commit to a fundraising goal of $1,000 and invite their friends, family, and community to support their *run, because of hope (#RunBOH)*.  Our desire is to see each runner spreading compassionate global awareness and empower their local community to make a difference in the world!

  ## OPTION’S FOR RUNNING:

  * Marathon
  * Half-Marathon
  * Relay the Marathon with a group (2-4 runners; 4-8 mile legs)

  ## RUNNER REGISTRATION #RunBOH

%a.button{href: 'https://becauseofhope.webconnex.com/SBMarathon'} Sign Up

:markdown
  ## Race Information

  Once you sign up, we will contact you with a welcome packet that will help you with your fundraising.  Specific race information and instructions for runners will be sent out closer to the race date.  For more information about the SB Marathon, please visit their website.

  ## Questions?

  Contact Jordan: <bssp@becauseofhope.org>

