.row
  .twelve.columns
    %h1 About Us
.row
  .eight.columns
    %h3 Content
    %p
      This is my boss, Jonathan Hart, a self-made millionaire, he's quite a guy. This
      is Mrs H., she's gorgeous, she's one lady who knows how to take care of
      herself. By the way, my name is Max. I take care of both of them, which ain't
      easy, 'cause when they met it was MURDER!
    %h3 Another Content
    %p
      And so.
  .four.columns.sidebar
    %h4 Hey brother
    %p No, not the cheese!

