.row
  %img{src:"http://placehold.it/1000x300"}
.row
  .eight.columns
    %h1 About Us
    %p
      This is my boss, Jonathan Hart, a self-made millionaire, he's quite a guy. This
      is Mrs H., she's gorgeous, she's one lady who knows how to take care of
      herself. By the way, my name is Max. I take care of both of them, which ain't
      easy, 'cause when they met it was MURDER!
    %h3 Another Content
    %p
      Ulysses, Ulysses - Soaring through all the galaxies. In search of Earth, flying
      in to the night. Ulysses, Ulysses - Fighting evil and tyranny, with all his
      power, and with all of his might. Ulysses - no-one else can do the things you
      do. Ulysses - like a bolt of thunder from the blue. Ulysses - always fighting
      all the evil forces bringing peace and justice to all.
  .four.columns.sidebar
    %h4 Hey brother
    %p No, not the cheese!

