.row
  .twelve.columns
    %img{src:"http://placehold.it/1000x300"}
.row
  .eight.columns
    %h1 About Us
    %p
      BOH is an organization that supports widows and orphans in Uganda,
      Africa.  Our mission is to empower widows by providing them with
      opportunities to increase their livelihood through sustainable means.  On
      average, a widow living in a Ugandan village earns $3.50 a month, while
      the cost of living for a family is $50.00 a month.  These women look
      after an average of six children, many of whom are usually orphans they
      have taken in off of the streets.  These women are extremely
      inspirational and hard working.  For this reason, BOH was created to help
      them more easily provide for their families.   
    %h3 How
    %p
      BOH works with a Ugandan non-governmental organization called Widows and
      Orphans Community Action Plan (WOCAP).  WOCAP is a program started by two
      Ugandan nationals who wanted to sustainably help the widows in their
      local villages by implementing a program that equips them with skills
      such as animal rearing, farming, and jewelry making which helps them
      better support their families.  After two trips to Uganda, BOH's founder,
      Natalie Lemonnier, learned that WOCAP's biggest struggle was selling the
      women's jewelry in the Ugandan market.  BOH originated in response to
      this problem, and Natalie came back with jewelry items to sell in the
      U.S..  What started as an independent project has developed into the
      founding of our organization, to further support the widows from the
      Ugandan villages of Namagera, Nakakalewe, and Bobogo.  Our organization's
      predominant form of fundraising for programs in these villages comes from
      selling the widow's jewelry and handicrafts, which has increased the
      demand for their items and has improved their ability to support their
      families. Your support of BOH in whatever capacity you are able, whether
      it be spreading the word of our cause or making a donation by purchasing
      the women's jewelry, makes a significant impact in the lives of women in
      Uganda. On behalf of these women and BOH, we greatly appreciate your
      support.      
  .four.columns
    .sidebar
      %h4 Address
      %address{:class => "vcard"}
        %span{:class => "adr"}
          %div{:class => "street-address"} P.O. Box 30995
          %span{:class => "locality"} Santa Barbara
          %span{:class => "region", :title => "California"} CA
          %div{:class => "postal-code"} 93130


