:markdown
  ## Our Mission

  BOH seeks to sustainably empower widows and orphans living in Uganda. BOH
  provides opportunities for widows and orphans to increase their livelihood
  through sustainable means. In addition, BOH aims to spread compassionate
  global awareness within our local communities. We hope to unite people from
  different continents and cultures with the purpose of generating lasting
  solutions to the problems that arise from poverty.

  ## How We Operate

  BOH is partnered with a Ugandan non-governmental organization called Widows and
  Orphans Community Action Plan (WOCAP). WOCAP was formed in 2007 by two  gandans
  to improve the living conditions for the widows within their community.  On
  average, a widow living in a Ugandan village earns $3.50 a month, while the
  cost of living for a family is $50 a month. These women care for an average of
  6 children, some of whom are orphans they have taken in. Many of these children
  are unable to attend school due to a lack of money. By equipping women with
  skills, such as raising livestock, farming, and jewelry-making they are enabled
  to earn income to support their families.

  In response to these needs, BOH has partnered with WOCAP in their bead-making
  project in order to bring their jewelry and their story to the United States.
  In addition, BOH is launching a student sponsorship program in February 2013
  in response to the large number of students who are unable to afford to
  attend school.

  ## Our Programs in Uganda

  Click below to learn more about our programs in Uganda.
.row
  .small-12.columns
    %ul.small-block-grid-2
      %li
        %a{href:'/programs/beads/'}
          %img{src:'/assets/images/aboutus_beads_button.jpg'}
      %li
        %a{href:'/programs/bssp/'}
          %img{src:'/assets/images/aboutus_bssp_button.jpg'}
