%h2 Livelihood

%p Agriculture is an integral part of life in Uganda and an effective tool to sustainably battle poverty. Beginning in 2015, we added agriculture to our strategy as we pursue sustainable empowerment for widows and orphans living in Uganda.

%h2 The Problem

%p The majority of our women in Uganda are farmers. However, traditional farming methods have led to low, inconsistent crop yields and a multitude of frustrations for our women. A poor crop harvest can be devastating to an impoverished family when it is their primary source of food and a supplemental source of income.

%h2 Our Strategy

%p After researching successful farming programs in our area in Uganda, we decided with the women to implement an Agriculture Program that addresses physical, social, and spiritual livelihood for participants. Because of the complexity of poverty, this program’s effectiveness comes from the fact that it not only teaches effective farming methods, but also builds up participants individually and as a group, empowering them to combat poverty in all areas of their lives.

%h2 The Impact

%p During the first season of the Agriculture Program, participating women saw their crop yields increase by 5-10 times more than their previous yields with traditional methods. Because of the prosperity of the program, the women have increased the acreage on which they apply these new farming methods and additional women have joined the program.

%ul{'data-orbit' => ''}
  %li
    %img{src: '/assets/images/agriculture/beatrice.jpg'}
    .orbit-caption
      Beatrice grew corn in her first season farming with BOH. Her labor produced a great harvest of 40 kgs. This is 6 times more than her previous crop yields!
  %li
    %img{src: '/assets/images/agriculture/irene.jpg'}
    .orbit-caption
      Irene participated in the first season of farming with BOH by growing beans. She normally gets 2 kgs of beans, but this time she grew 10 kgs with the same size garden!
  %li
    %img{src: '/assets/images/agriculture/rose.jpg'}
    .orbit-caption
      Rose grows two of Uganda’s staple foods, corn and beans. In her first season in BOH’s Agriculture Program, she grew 48 kgs of corn, which is nearly 7 times her normal amount.
  %li
    %img{src: '/assets/images/agriculture/muwanguz.jpg'}
    .orbit-caption
      Muwanguzi Ruth’s garden thrived in its first crop season with the new methods. She grew corn and produced 58 kgs, when previously she had only yielded 8 kgs. Ruth also grows ground nuts and dodo (a local green).
  %li
    %img{src: '/assets/images/agriculture/jane.jpg'}
    .orbit-caption
      When Jane harvested her corn at the end of her first crop season with BOH, she was pleased to have 8 times what she normally produces! She also saw success growing onions in her garden.
