%p
  WOCAP began their beading program to provide women with a means of generating
  income to help support their families. The women are taught how to make beads
  from recycled paper. The paper is rolled around a sewing needle, sometimes
  dyed different colors, and then varnished to make a bead. In addition to
  bead-making, the women are also taught sewing skills. The women hand make
  necklaces, bracelets, earrings, and handbags for sale.
%p
  WOCAP expressed the need for a larger market in which to sell their products.
  BOH has partnered with WOCAP in order to expand their market to include people
  in the United States.
%p
  Through your purchases, BOH is able to provide income to about 250 women in the
  bead-making program. On behalf of BOH and the ladies in Uganda, we thank you for
  your support.

.row
  .four.columns
    %img{:src => "http://placehold.it/200x200"}
  .four.columns
    %img{:src => "http://placehold.it/200x200"}
  .four.columns
    %img{:src => "http://placehold.it/200x200"}
.row
  .four.columns
    %img{:src => "http://placehold.it/200x200"}
  .four.columns
    %img{:src => "http://placehold.it/200x200"}
  .four.columns
    %img{:src => "http://placehold.it/200x200"}
.row
  .four.columns
    %img{:src => "http://placehold.it/200x200"}
  .four.columns
    %img{:src => "http://placehold.it/200x200"}
  .four.columns
    %img{:src => "http://placehold.it/200x200"}

