%h2 More about our recycled paper beads

.flex-video.widescreen.vimeo
  = %Q[<iframe src="http://player.vimeo.com/video/44596807?badge=0" height="100% "width="100%" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>]

%p
  BOH’s Ugandan partner organization, WOCAP, began their beading program to
  provide roughly 250 women with a means of generating income to help support
  their families. The women are taught how to make beads from recycled paper.
  The paper is rolled around a sewing needle, sometimes dyed different colors,
  and then varnished to make a bead. In addition to bead-making, the women are
  also taught sewing skills. The women hand make necklaces, bracelets,
  earrings, and handbags to be sold in the U.S.

%hr

%h2 Meet the ladies

.row
  .twelve.columns
    %ul.block-grid.three-up
      %li
        %img{:src => "http://placehold.it/200x200"}
      %li
        %img{:src => "http://placehold.it/200x200"}
      %li
        %img{:src => "http://placehold.it/200x200"}
      %li
        %img{:src => "http://placehold.it/200x200"}
      %li
        %img{:src => "http://placehold.it/200x200"}
      %li
        %img{:src => "http://placehold.it/200x200"}
      %li
        %img{:src => "http://placehold.it/200x200"}
      %li
        %img{:src => "http://placehold.it/200x200"}
      %li
        %img{:src => "http://placehold.it/200x200"}

