.row
  .large-12.columns.donate-option
    %h1 Donate to Because of Hope
    .row
      .large-6.columns.hero
        %img{src: '/assets/images/donate_gen.jpg'}
      .large-6.columns
        :markdown
          A part of our mission at BOH is to empower widows and underprivileged
          women by providing them with opportunities to increase their
          livelihood through sustainable means.  By donating to BOH, you are
          apart of helping these women provide for their families and overcome
          the challenges of poverty.
        %a.button{href: 'https://becauseofhope.webconnex.com/becauseofhope'} Donate Today
.row
  .large-12.columns
    %hr
.row
  .large-12.columns.donate-option
    %h1 YMCA Camp Donors
    .row
      .large-6.columns.hero
        %img{src: '/assets/images/donate_ymca.jpg'}
      .large-6.columns
        :markdown
          YMCA campers and parents, click the link below to help reach the camp goal of sending Viola to school in Uganda! Your donation drastically impacts their lives, so thank you so much for your support!
        %a.button{href: 'https://becauseofhope.webconnex.com/ymcacamp'} Donate Today
