.row
  .large-12.columns.donate-option
    %h1 Make a general donation to BOH
    .row
      .large-6.columns.hero
        %img{src: '/assets/images/donate_gen.jpg'}
      .large-6.columns
        :markdown
          A part of our mission at BOH is to empower widows and
          underprivileged women by providing them with
          opportunities to increase their livelihood through
          sustainable means. By making a donation today,
          your contribution will help support these ladies and will
          go toward program operations, and toward
          spreading awareness here in the U.S.. Currently, BOH is
          run on a volunteer basis. Donors can contribute any
          amount today, or you can sign up to support our
          BOH on a monthly basis. For our recurring donors, you may
          cancel your subscription at any time you choose. Because
          of Hope (BOH) is a registered 501(c)(3) nonprofit
          organization. All donations are tax deductible. Any
          contribution you provide is greatly appreciated by
          everyone at BOH, both here in the U.S. as well as in
          Uganda.
        %a.button{href: 'https://becauseofhope.webconnex.com/becauseofhope'} Donate Today
.row
  .large-12.columns
    %hr
.row
  .large-12.columns.donate-option
    %h1 DONATE TO OUR STUDENT SCHOLARSHIP PROGRAM
    .row
      .large-6.columns.hero
        %img{src: '/assets/images/donate_student.jpg'}
      .large-6.columns
        :markdown
          A part of our mission at BOH is to empower orphans and underprivileged children
          by providing them with the opportunity to obtain an education in Uganda. By
          making a donation today, your contribution will go directly towards our student
          scholarship program. Donors can contribute any amount today, or you can
          sign up to support our students on a monthly basis. For our recurring donors,
          you may cancel your subscription at any time you choose. Because of Hope (BOH)
          is a registered 501(c)(3) nonprofit organization. All donations are tax
          deductible. Any contribution you provide is greatly appreciated by everyone at
          BOH, both here in the U.S. as well as in Uganda.
        %a.button{href: 'https://becauseofhope.webconnex.com/ssp'} Donate Today
