.row
  .large-12.columns.donate-option
    %h1 Donate to Because of Hope
    .row
      .large-6.columns.hero
        %img{src: '/assets/images/donate_gen.jpg'}
      .large-6.columns
        :markdown
          A part of our mission at BOH is to empower widows and underprivileged
          women by providing them with opportunities to increase their
          livelihood through sustainable means.  By donating to BOH, you are
          apart of helping these women provide for their families and overcome
          the challenges of poverty.
        %a.button{href: 'https://becauseofhope.webconnex.com/becauseofhope'} Donate Today
.row
  .large-12.columns
    %hr
.row
  .large-12.columns.donate-option
    %h1 Sponsor a Student
    .row
      .large-6.columns.hero
        %img{src: '/assets/images/donate_student.jpg'}
      .large-6.columns
        :markdown
          A part of our mission at BOH is to empower orphans and
          underprivileged children by providing them with opportunities like
          education.  By sponsoring a child through our BOH Student Scholarship
          Program, you are able to personally connect with a student and
          powerfully impact their life through education.
        %a.button{href: '/programs/bssp/'} Donate Today
