%ul.small-block-grid-1.info
  %li
  -#  This is to make a space above. It's a hack but it works for now.
  %li
    %a{href: 'http://shop.becauseofhope.org/products'}
      %img{src: '/assets/images/banner/BOH_banner_shop_holiday.jpg'}
  %li
    %a{href: 'http://shop.becauseofhope.org/product/pink-floral-crossbody-tote'}
      %img{src: '/assets/images/banner/BOH_banner_GE_holiday.jpg'}

%h2 Sustainably empowering widows and orphans in Uganda.
