%ul.small-block-grid-1.info
  %li
  -#  This is to make a space above. It's a hack but it works for now.
  %li
    %a{href: 'http://shop.becauseofhope.org/'}
      %img{src: '/assets/images/banner/Holiday_Promo_Banner.jpg'}
  %li
    %a{href: '/onelessforonemore/'}
      %img{src: '/assets/images/banner/OLFOM.png'}
  %li
    %a{href: '/programs/bssp/'}
      %img{src: '/assets/images/banner/bssp_sponsor.jpg'}


%h2 Sustainably empowering widows and orphans in Uganda.

