.row.front-video
  .large-12.columns
    %a{href: '/programs/bssp/'}
      %img{src: '/assets/images/sponsor_a_student_banner.jpg'}
.row.front-video
  .large-12.columns
    %a{href: 'http://shop.becauseofhope.org/'}
      %img{src: '/assets/images/BOH_shop_banner.jpg'}
    %h2 Sustainably empowering widows and orphans in Uganda.

