%ul.small-block-grid-1.info
  %li
  -#  This is to make a space above. It's a hack but it works for now.
  %li
    %a{href: 'http://shop.becauseofhope.org/product/item-of-the-week-free-shipping-red-white-oblong-bracelet'}
      %img{src: '/assets/images/banner/4th_of_july_banner.jpg'}
  %li
    %a{href: '/programs/bssp/'}
      %img{src: '/assets/images/sponsor_a_student_banner.jpg'}
  %li
    %a{href: 'http://shop.becauseofhope.org/'}
      %img{src: '/assets/images/BOH_shop_banner.jpg'}

%h2 Sustainably empowering widows and orphans in Uganda.

