%ul.small-block-grid-1.info
  %li
  -#  This is to make a space above. It's a hack but it works for now.
  %li
    %a{href: 'http://blog.becauseofhope.org/post/100776578996/bohs-on-tv-again'}
      %img{src: '/assets/images/banner/BOH_on_BM.png'}
  %li
    %a{href: '/onelessforonemore/'}
      %img{src: '/assets/images/banner/OLFOM.png'}
  %li
    %a{href: '/programs/bssp/'}
      %img{src: '/assets/images/sponsor_a_student_banner.jpg'}
  %li
    %a{href: 'http://shop.becauseofhope.org/'}
      %img{src: '/assets/images/BOH_shop_banner.jpg'}

%h2 Sustainably empowering widows and orphans in Uganda.

