%ul.small-block-grid-1.info
  %li
  -#  This is to make a space above. It's a hack but it works for now.
  %li
    %a{href: '/sbmarathon/register/'}
      %img{src: '/assets/images/banner/sbm16_banner.jpg'}
  %li
    %a{href: 'http://shop.becauseofhope.org/products'}
      %img{src: '/assets/images/banner/BOH_shop.jpg'}
  %li
    %a{href: '/programs/bssp/'}
      %img{src: '/assets/images/banner/bssp_sponsor.jpg'}


%h2 Sustainably empowering widows and orphans in Uganda.
