%ul.small-block-grid-1.info
  %li
  -#  This is to make a space above. It's a hack but it works for now.
  %li
    %a{href: 'http://shop.becauseofhope.org'}
      %img{src: '/assets/images/banner/world_cup_boh.jpg'}
  %li
    %a{href: 'http://shop.becauseofhope.org/'}
      %img{src: '/assets/images/BOH_shop_banner.jpg'}

%h2 Sustainably empowering widows and orphans in Uganda.

