.row.front-video
  .large-12.columns
    %a{href: 'http://shop.becauseofhope.org/product/jungle-run-5k'}
      %img{src: '/assets/images/boh-5K-homepage-banner.jpg'}
    %h2 Sustainably empowering widows and orphans in Uganda.

