%ul.small-block-grid-1.info
  %li
  -#  This is to make a space above. It's a hack but it works for now.
  %li
    %a{href: 'https://drive.google.com/folderview?id=0B4y1hubw2Jd2SHBpcGloRHV1bVE&usp=sharing'}
      %img{src: '/assets/images/banner/boh_internship_cover_best_fit.jpg'}
  %li
    %a{href: '/programs/bssp/'}
      %img{src: '/assets/images/banner/bssp_sponsor.jpg'}
  %li
    %a{href: 'http://shop.becauseofhope.org/products'}
      %img{src: '/assets/images/banner/BOH_shop.jpg'}

%h2 Sustainably empowering widows and orphans in Uganda.

