:markdown
  ## One Less For One More

  BOH seeks to sustainably empower widows and orphans living in Uganda. In addition, BOH aims to spread compassionate global awareness within our local communities. We hope to unite people from different continents and cultures with the purpose of generating lasting solutions to the problems that arise from poverty.

%h2 Join the discussion
:plain
  <div class="fb-comments" data-href="http://www.becauseofhope.org/olfom/" data-numposts="5" data-colorscheme="dark"
  data-width="100%"></div>
