:markdown
  ## One less for one more: because they're worth it

.flex-video.widescreen.vimeo
  = %Q[<iframe src="http://player.vimeo.com/video/108509760?badge=0" height="100% "width="100%" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>]

:markdown
  Changing the world doesn't take a million dollars.  And One Less for One More is about empowering people to change a
  person's life ... Why? ... Because you CAN!  In joining the campaign, you commit to being a monthly sponsor for a BOH child to go to school in Uganda, even if it means making a small sacrifice in your life to do so.  We know money doesn't grow on trees, but we also know how far a dollar can go in Uganda.  And we are asking people to commit to giving up a latte a week, or a restaurant meal once a month, because when put toward a scholarship instead, you can change the course of child's life forever and give them the opportunity to pursue their dreams!  Commit to be the difference!  They're worth it!

.row

%h3
  Click Here to meet the students
  %a{href:'/programs/bssp/'}
    %span{style: 'white-space: nowrap;'}
      %img{style: 'height:140px', src:'/assets/images/bssp/MukyalaAgnes.jpg'}
      %img{style: 'height:140px', src:'/assets/images/bssp/susan_photo.jpg'}

%hr

%h2{style: 'color: #a0c8bd;'}
  Using Social Media? Let us know:

:markdown
   #boh #becauseofhope #bohbeads #ONELESSFORONEMORE

%h2 Join the discussion
:plain
  <div class="fb-comments" data-href="http://www.becauseofhope.org/olfom/" data-numposts="5" data-colorscheme="dark"
  data-width="100%"></div>
