%h2
  Orbit Demo

#featured
  %a{href: 'http://www.google.com'}
    %img{src: 'http://placehold.it/800x400&text=5'}
  %img{src: 'http://placehold.it/800x400&text=1'}
  %img{src: 'http://placehold.it/800x400&text=2'}
  %img{src: 'http://placehold.it/800x400&text=3'}
  %img{src: 'http://placehold.it/800x400&text=4'}

%h3 Test

%p
  Lorem Ipsum is simply dummy text of the printing and typesetting industry.
  Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
  when an unknown printer took a galley of type and scrambled it to make a type
  specimen book. It has survived not only five centuries, but also the leap
  into electronic typesetting, remaining essentially unchanged. It was
  popularised in the 1960s with the release of Letraset sheets containing Lorem
  Ipsum passages, and more recently with desktop publishing software like Aldus
  PageMaker including versions of Lorem Ipsum.

:plain
  <script type="text/javascript">
   $(window).load(function() {
       $("#featured").orbit();
   });
  </script>
