%h2
  Orbit Demo

#featured
  %img{:src => "http://placehold.it/300&text=1"}
  %img{:src => "http://placehold.it/300&text=2"}
  %img{:src => "http://placehold.it/300&text=3"}

:plain
  <script type="text/javascript">
   $(window).load(function() {
       $("#featured").orbit();
   });
  </script>
