:markdown
  ## Our Team

  Our staff team has played an integral role in the effectiveness of our programs, as their commitment and dedication to our women and children has greatly furthered our mission of sustainable empowerment.

.row
  .small-12.columns
    %ul.small-block-grid-3
      %li
        .program-people
          .story
            %a{href: '#', data: {reveal_id: 'natolie'}}
              %img{src: '/assets/images/ourteam/natalie.jpg'}
          .reveal-modal.small{id: 'natolie', data: {reveal: true}}
            :markdown
              Born and raised in Agoura Hills, CA Natalie is BOH’s Executive Director and Co-Founder. She oversees all operations both in the U.S. and in Uganda, and has her bachelor’s degree in Business Economics from UC Santa Barbara. Natalie loves what she does and her favorite part of her job is traveling to Uganda for program development. Uganda is her second home and she cherishes time spent with our women and staff. Natalie enjoys creating her own delicious healthy recipes, running or walking on the beach, and listening to her favorite songs on repeat. She’s one incredible lady all of us at BOH adore!
            %a.close-reveal-modal &#215;
          .name
            Natalie Lemonnier
            .title
              Executive Director
      %li
        .program-people
          .story
            %a{href: '#', data: {reveal_id: 'cathie'}}
              %img{src: '/assets/images/ourteam/cathie.jpg'}
          .reveal-modal.small{id: 'cathie', data: {reveal: true}}
            :markdown
              Cathie is BOH’s Uganda Student Scholarship Program (BSSP) Advisor and Co-Founder of WOCAP, BOH’s Ugandan partner organization. She leads our coaches in overseeing our students in Uganda, making sure they have everything they need to be successful. Her favorite part of her job is going out visiting the children at their schools and providing them with guidance for their futures. Before working at BOH, Cathie was a secondary teacher who taught History and Christian Religious Education. She has two children, Lenette and Dravi, who are both in primary school. Cathie is a wonderful mother, great cook, and one of the most hospitable people you will ever met!
            %a.close-reveal-modal &#215;
          .name
            Amede Cathie
            .title
              BSSP UG Advisor
      %li
        .program-people
          .story
            %a{href: '#', data: {reveal_id: 'jordan'}}
              %img{src: '/assets/images/ourteam/jordan.jpg'}
          .reveal-modal.small{id: 'jordan', data: {reveal: true}}
            :markdown
              Jordan, whose friends call her Jordy, is BSSP’s U.S. Advisor and she started working for BOH in early 2015. She received her bachelor’s degree in Communication Studies from Texas Christian University. Her favorite part of her job is going to Uganda to visit the BSSP students and working with the Uganda BSSP staff team to prepare for the new school year. She actively raises awareness about BSSP in the U.S. and enjoys sharing about the students’ progress with donors. Jordy is a stud at soccer (arguably due to her webbed feet), loves ice cream, and at dusk, can be found watching the sunset in the backyard.
            %a.close-reveal-modal &#215;
          .name
            Jordan Calhoun
            .title
              BSSP US Advisor
      %li
        .program-people
          .story
            %a{href: '#', data: {reveal_id: 'jane'}}
              %img{src: '/assets/images/ourteam/jane.jpg'}
          .reveal-modal.small{id: 'jane', data: {reveal: true}}
            :markdown
              Jane began her work as a BOH Coach for the BOH Student Scholarship Program (BSSP) at the end of 2014. Her favorite part of her job is tutoring the students and she has a deep desire to see each student’s academics continually improve. She works diligently to make sure our students understand their subjects and courses. Jane can rock bright red lipstick, enjoys reading Jane Eyre, loves singing, and dreams of being on American Idol. Jane has her bachelor’s degree in Finance.
            %a.close-reveal-modal &#215;
          .name
            Akello Jane
            .title
              BSSP Coach
      %li
        .program-people
          .story
            %a{href: '#', data: {reveal_id: 'emmanuel'}}
              %img{src: '/assets/images/ourteam/emmanuel.jpg'}
          .reveal-modal.small{id: 'emmanuel', data: {reveal: true}}
            :markdown
              Emmanuel, who goes by Emma, started working as a BOH Coach back when BSSP started in 2013. He has faithfully worked with our students and as a result of his support, love, and commitment, our students trust him for counsel and look up to him as a role model. Emma enjoys dancing, making (and eating) pancakes, and listening to hip-hop and R&B. He was once caught jamming to Justin Bieber, but he claims it was “just on the radio.” Emma has his degree in Art.
            %a.close-reveal-modal &#215;
          .name
            Okwalinga Emmanuel
            .title
              BSSP Coach
      %li
        .program-people
          .story
            %a{href: '#', data: {reveal_id: 'henry'}}
              %img{src: '/assets/images/ourteam/henry.jpg'}
          .reveal-modal.small{id: 'henry', data: {reveal: true}}
            :markdown
              Henry oversees BOH’s Agriculture Program. As the advisor of this program, Henry regularly meets with our women in their fields to help them improve their farming. Before BOH, he was an Agriculture Teacher in a local secondary school and has extensive experience in farming. He has learned new farming methods through the curriculum of Farming God’s Way and is passionate about teaching others so they can succeed in farming too. Henry has a smile a mile wide and is easily the best-dressed farmer.
            %a.close-reveal-modal &#215;
          .name
            Tigatoola Henry
            .title
              Agriculture Advisor
      %li
        .program-people
          .story
            %a{href: '#', data: {reveal_id: 'mackenzie'}}
              %img{src: '/assets/images/ourteam/mackenzie.jpg'}
          .reveal-modal.small{id: 'mackenzie', data: {reveal: true}}
            :markdown
              Mackenzie, who goes by Kenz, is our Retail Coordinator. She is in charge of everything inventory and selling our women’s beautiful jewelry here in the U.S. Kenz graduated from Westmont College with a degree in Communications. Her favorite part of her job is collaborating with the women on new jewelry designs and talking with supporters at events. She is always one to have random facts, pulls out puns unlike anyone you’ve ever met, and wears Birkenstocks like they’re going out of style. Kenz’s one let down in life is glitter not being a part of BOH’s branding.
            %a.close-reveal-modal &#215;
          .name
            Mackenzie Lanphear
      %li
        .program-people
          .story
            %a{href: '#', data: {reveal_id: 'ahmed'}}
              %img{src: '/assets/images/ourteam/ahmed.jpg'}
          .reveal-modal.small{id: 'ahmed', data: {reveal: true}}
            :markdown
              Ahamed is the Advisor for BOH’s Beads Project in Uganda. He not only empowers our women in their jewelry making, but also motivates them to thrive in life. Ahamed loves his job and working with the women and the other staff members. His background in business and sales makes him an invaluable part of the Beads Project. He speaks 4 languages and makes the most delicious mandazi (donuts) you have ever tasted.
            %a.close-reveal-modal &#215;
          .name
            Ndhaye Ahamed
