:markdown
  ## Our Team

.row
  .small-12.columns
    %ul.small-block-grid-3
      %li
        .program-people
          .story
            %a{href: '#', data: {reveal_id: 'natolie'}}
              %img{src: 'http://placehold.it/300x300'}
          .reveal-modal{id: 'natolie', data: {reveal: true}}
            :markdown
              Born and raised in Agoura Hills, CA Natalie is BOH’s Executive Director and Co-Founder. She oversees all operations both in the U.S. and in Uganda, and has her bachelor’s degree in Business Economics from UC Santa Barbara. Natalie loves what she does and her favorite part of her job is traveling to Uganda for program development. Uganda is her second home and she cherishes time spent with our women and staff. Natalie enjoys creating her own delicious healthy recipes, running or walking on the beach, and listening to her favorite songs on repeat. She’s one incredible lady all of us at BOH adore!
            %a.close-reveal-modal &#215;
          .name
            Natolie Lemonier



