:markdown
  ## Our Mission

  BOH seeks to sustainably empower widows and orphans living in Uganda. In addition, BOH aims to spread compassionate global awareness within our local communities. We hope to unite people from different continents and cultures with the purpose of generating lasting solutions to the problems that arise from poverty.

  ## Our Committment to Sustainability

  As a part of our commitment to sustainable empowerment, BOH works in partnership with a Ugandan organization, WOCAP. Together, through the Beads Project, we generate sustainable income sources for women and their families. By providing widows with a job opportunity, rather than a handout, they are empowered to provide for their families with dignity. In addition, BOH began a student scholarship program (BSSP) to empower students through education. Education is a crucial component in creating opportunities for the future and breaking out of the cycle of poverty.

-#
-#  ## Our Programs in Uganda
-#
-#  Click below to learn more about our programs in Uganda.
-#.row
-#  .small-12.columns
-#    %ul.small-block-grid-2
-#      %li
-#        %a{href:'/programs/beads/'}
-#          %img{src:'/assets/images/ourwork_beads_button.jpg'}
-#      %li
-#        %a{href:'/programs/bssp/'}
-#          %img{src:'/assets/images/ourwork_bssp_button.jpg'}
