%h2 Our Commitment to Sustainability
%p
  As a part of our commitment to sustainable empowerment, we at BOH are working
  with members of our Ugandan parnter organization to help generate sustainable
  income sources for the familes in the communities we work with.  We are doing
  this in several ways. Our approach to empowering the communites we work in is
  a two-step process. The first step in a poverty situation is to allieviate
  urgent needs as much as possible, without creating a situation in which the
  communities we work with become heavily dependent on the support we provide.
  The second step, is to always have an “exit-strategy” in mind, meaning create
  a program in which people can eventually support themselves, and in which
  there will be no need for BOH to be involved in the program in the future.
  Sustainablity can take years to establish, however, we want to carefully
  examine every step we take in this process, while still working closely with
  our Ugandan partners, as we greatly value the progress we can achieve by
  working together.
.row
  .small-6.columns
    %h2 Student Scholarships
    %a{href:'/beads/'}
      %img{src:'/assets/images/aboutus_bssp_button.jpg'}
    %p
      The cost of education is a great financial burden for families in Uganda.
      Most children do not attend school past the elementary level due to their
      inability to pay  for school fees and materials.  We have partnered with
      our supporters to give these children the opportunity...
  .small-6.columns
    %h2 The Beads Project
    %a{href:'/students/'}
      %img{src:'/assets/images/aboutus_beads_button.jpg'}
    %p
      We are working with our Ugandan partners at WOCAP (Widows and Orphans
      Community Action Plan) with their Beads Project.  The Beads Project began
      in 2007 under the direction of WOCAP's president, Samuel Mugoya.  The
      purpose of the project was to...
