%p
  To be filled

%hr

.row
  .twelve.columns
    %ul.block-grid.three-up
      %li
        %img{:src => "http://placehold.it/200x200"}
      %li
        %img{:src => "http://placehold.it/200x200"}
      %li
        %img{:src => "http://placehold.it/200x200"}
      %li
        %img{:src => "http://placehold.it/200x200"}
      %li
        %img{:src => "http://placehold.it/200x200"}
      %li
        %img{:src => "http://placehold.it/200x200"}
      %li
        %img{:src => "http://placehold.it/200x200"}
      %li
        %img{:src => "http://placehold.it/200x200"}
      %li
        %img{:src => "http://placehold.it/200x200"}

