%h2 More about BOH Student Scholarship Program

.flex-video.widescreen
  = %Q[<iframe width="560" height="315" src="http://www.youtube.com/embed/__WUNtrEVbQ" frameborder="0" allowfullscreen></iframe>]

%p
  The cost of education is a great financial burden for families in Uganda.
  Most children do not attend school past the elementary level due to their
  inability to pay for school fees and materials.  BOH wants to partner with
  our supporters to give these children the opportunity to achieve their dreams
  in the same way we are able to with education here in the U.S.  After much
  research, prayer, and coordination with our Ugandan partners, BOH has decided
  to provide student scholarships for the dependents of the 250 women in our
  beads project.  Together we can empower these children through education by
  making their dreams a reality. 

%hr

%h2 Meet the students

.row
  .twelve.columns
    %ul.block-grid.three-up
      %li
        %img{:src => "http://placehold.it/200x200"}
      %li
        %img{:src => "http://placehold.it/200x200"}
      %li
        %img{:src => "http://placehold.it/200x200"}
      %li
        %img{:src => "http://placehold.it/200x200"}
      %li
        %img{:src => "http://placehold.it/200x200"}
      %li
        %img{:src => "http://placehold.it/200x200"}
      %li
        %img{:src => "http://placehold.it/200x200"}
      %li
        %img{:src => "http://placehold.it/200x200"}
      %li
        %img{:src => "http://placehold.it/200x200"}

