// Global Foundation Settings
@import "settings";

// Comment out this import if you are customizing you imports below
@import "foundation";

// Import specific parts of Foundation by commenting the import "foundation"
// and uncommenting what you want below. You must uncomment the following if customizing

// @import "foundation/foundation-global";
// @import "foundation/components/grid";
// @import "foundation/components/visibility";
// @import "foundation/components/block-grid";
// @import "foundation/components/type";
// @import "foundation/components/buttons";
// @import "foundation/components/forms";
// @import "foundation/components/custom-forms";
// @import "foundation/components/button-groups";
// @import "foundation/components/dropdown-buttons";
// @import "foundation/components/split-buttons";
// @import "foundation/components/flex-video";
// @import "foundation/components/section";
// @import "foundation/components/top-bar";
// @import "foundation/components/orbit";
// @import "foundation/components/reveal";
// @import "foundation/components/joyride";
// @import "foundation/components/clearing";
// @import "foundation/components/alert-boxes";
// @import "foundation/components/breadcrumbs";
// @import "foundation/components/keystrokes";
// @import "foundation/components/labels";
// @import "foundation/components/inline-lists";
// @import "foundation/components/pagination";
// @import "foundation/components/panels";
// @import "foundation/components/pricing-tables";
// @import "foundation/components/progress-bars";
// @import "foundation/components/side-nav";
// @import "foundation/components/sub-nav";
// @import "foundation/components/switch";
// @import "foundation/components/magellan";
// @import "foundation/components/tables";
// @import "foundation/components/thumbs";
// @import "foundation/components/tooltips";
// @import "foundation/components/dropdown";

// Fill in for Foundation 4 missing compass
@import "compass/css3/box-shadow";
@import "compass/css3/images";

@import "fonts";

body {
    background-color: $backgroundColor;
    //    background: url("/assets/images/concrete_wall.png")
}

hr {
    border: emCalc(1px) solid $white;
}

header, footer {
    hr {
        margin-top: emCalc(0px);
        margin-bottom: emCalc(0px);
    }
}

header {
    .logo {
        img {
            width: emCalc(152px);
            height: emCalc(88px);
        }
    }
    .nav ul {
        li:last-child {
            a {
                padding-right: emCalc(0px);
            }
        }

        @media only screen and (min-width: emCalc(767px)) {
            margin-bottom: 0;
            margin-top: emCalc(50px);
        }
        @media only screen and (min-width: emCalc(767px)) and (max-width: emCalc(970px)) {
            margin-bottom: 0;
            margin-top: emCalc(0px);
        }
    }
}

footer {
    hr {
        height: emCalc(6px);
        border: {
            top-width: emCalc(1px);
            bottom-width: emCalc(1px);
            left-width: emCalc(0px);
            right-width: emCalc(0px);
        }
    }
    .nav ul {
        @media only screen and (min-width: emCalc(767px)) {
            li:first-child {
                a {
                    padding-left: emCalc(0px);
                }
            }
            margin-bottom: 0;
            margin-top: emCalc(0px);
        }
    }
    .social {
        padding-top: emCalc(10px);
        li {
            float: right;
        }
    }
}

h1, h2, h3, h4, h5, h6 {
    text-transform: uppercase;
    color: #027d7d;
    letter-spacing: 4px;
}

.nav {
    ul {
        background-color: transparent;
        li {
            &:hover {
                background-color: transparent;
            }
            &, &:last-child {
                @include box-shadow(none);
                border: none;
            }
            a {
                color: $txtColor;
                text-transform: lowercase;
                letter-spacing: emCalc(2px);
                &:hover {
                    color: white;
                    background-color: #5A3A51;
                }
            }
        }
    }
}

p {
    line-height: 1.2;
}

// Elements

article {
    @include grid-row(nest);
    & > header {
        @include grid-row();
        & > img {
            @include grid-column(12);
        }
    }
    #content {
        @include grid-column(12);
    }
    aside {
        @include grid-column(4, $float: right);
        & ~ #content {
            @include grid-column(8, $float: left);
        }
    }
}
.banner {
    @media only screen and (min-width: emCalc(1020px)) {
        img {
            width: emCalc(1000px);
            height: emCalc(200px);
        }
    }
}

.sidebar {
    color: #d6d3d2;
    background-color: gray;
    padding: emCalc(10px);
    padding-bottom: emCalc(16px);
    @include background(linear-gradient(top, #474848, #585858));
    h1, h2, h3, h4, h5, h6 {
        color: #a0c8bd;
        text-align: center;
        margin-top: emCalc(0px);
        margin-bottom: emCalc(0px);
        &:first-child {
            margin-top: emCalc(0px);
            margin-bottom: -emCalc(6px);
        }
    }

    h3 {
        margin-bottom: emCalc(5px);
    }

    .program {
        text-align: center;
        img {
            margin-top: emCalc(8px);
            margin-bottom: emCalc(8px);
        }
    }
    .fbbutton {
        padding: emCalc(5px);
        text-align: left;
    }
    hr {
        margin-top: emCalc(8px);
        margin-bottom: emCalc(8px);
    }
    address, p {
        width: emCalc(259px);
        margin-left: auto;
        margin-right: auto;
        font-style: normal;
    }

}

// Front Page specific

.front-video {
    iframe {
        @media only screen and (min-width: emCalc(767px)) {
            height: emCalc(505px);
        }
        @media only screen and (max-width: emCalc(767px)) {
            height: emCalc(250px);
        }
    }
}

// Donate Page specific
.donate-option {
    img {
    }
    font-size: 14px;
    a.button {
        @extend .radius.button;
        padding: 8px 45px 8px 8px;
        border: none;
        @include box-shadow(none);
        font-weight: normal;
        font-family: $header-font-family;
        text-transform: uppercase;
        font-size: 44px;
        &:after {
            content: ">";
            padding: 6px 13px;
            color: $primary-color;
            font-size: 30px;
            vertical-align: middle;
            position: absolute;
            right: 0;
        }
        &:before {
            content: "\25CF";
            width: 44px;
            height: 44px;
            font-size: 75px;
            position: absolute;
            top: -12px;
            right: 0;
        }
    }
}

// Graceful Orbit Loading State
#featured img {
    display: none;
}

#featured.orbit img {
    display: block;
}

