%h2 Meet First Name

%img{src: 'http://placehold.it/800x600'}

%h6 From Left to Right: Name, Name, Name

%p
  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent in augue sapien, ut viverra diam. Vivamus libero ligula, scelerisque vitae cursus ac, fringilla et eros. Mauris luctus mauris quis eros aliquet non tincidunt erat vulputate. Nunc interdum adipiscing tincidunt. Nam aliquam fermentum commodo. Sed at ante purus, in rutrum nibh. Mauris adipiscing lacus sed lacus pellentesque quis sodales arcu aliquam.



