!!! 5
%html
  %head
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1.0"}
    %title= "BOH - #{item[:title]}"
    %link{:href => "/assets/stylesheets/app.css", :rel => "stylesheet"}
    %script{:href => "/assets/javascript/foundation/modernizr-foundation.js"}
    %script{:href => "/assets/javascript/foundation/foundation-min.js"}
    %script{:href => "/assets/javascript/foundation/app.js"}
    %script{:href => "//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"}
  %body
    %header
      .row
        .three.columns.logo
          %a{:href => "/"}
            %img{:src => "/assets/images/logo.png"}
        .nine.columns
          %ul{:class => "nav-bar right"}
            %li 
              %a{:href => "/"} Home
            %li 
              %a{:href => "/"} About Us
            %li 
              %a{:href => "/"} Get Involved
            %li 
              %a{:href => "/"} Blog
            %li 
              %a{:href => "/"} Shop
            %li 
              %a{:href => "/donate/"} Donate
    .main
      .row
        .twelve.columns
          %hr
      = yield
    #footer
      .row
        .twelve.columns
          %p &copy; 2012 Because of Hope

