!!! 5
%html
  %head
    %title= "BOH - #{item[:title]}"
    %link{:href => "/assets/stylesheets/app.css", :rel => "stylesheet"}
    %script{:href => "/assets/javascript/foundation/modernizr-foundation.js"}
    %script{:href => "//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"}
  %body
    .header
      .row
        .three.columns
          %a{:href => "/"}
            %img{:src => "http://placehold.it/140x68"}
        .nine.columns
          %ul{:class => "nav-bar right"}
            %li 
              %a{:href => "/"} Home
    .main
      %hr
      = yield
