%footer
  .row
    .large-12.columns.header-line
      %hr
  %nav
    .links
      %ul
        %li
          - if /^\/programs\/bssp/.match(@item.identifier)
            %a{href: 'https://because-of-hope.myshopify.com/pages/boh-student-scholarship-program'} Return to BSSP
          - else
            %a{href: 'https://because-of-hope.myshopify.com/collections/all'} Return to Shop
