%footer
  .row
    .large-12.columns.header-line
      %hr
  %nav
    .links
      %ul
        %li
          %a{href: '/financial/'} Financial
        %li
          %a{href: 'http://bohshop.bigcartel.com/'} Shop
        %li
          %a{href: '/donate/'} Donate
        %li
          %a{href: '/'} Return Policy
    .social
      %ul
        %li
          %a{href: 'http://facebook.com/becauseofhope'}
            %img{src: '/assets/images/social/facebook_button.png'}
        %li
          %a{href: 'http://becauseofhope.tumblr.com/'}
            %img{src: '/assets/images/social/tumblr_button.png'}
        %li
          %a{href: 'http://twitter.com/becauseofhope'}
            %img{src: '/assets/images/social/twitter_button.png'}
        %li
          %a{href: 'http://instagram.com/becauseofhope'}
            %img{src: '/assets/images/social/instagram_button.png'}
        %li
          %a{href: 'http://pinterest.com/becauseofhope/'}
            %img{src: '/assets/images/social/pinterest_button.png'}
