%footer
  .row
    .twelve.columns.header-line
      %hr
  .row
    .nine.columns
      .nav
        %ul{:class => "inline-list left"}
          %li
            %a{:href => "/financial/"} Financial
          %li
            %a{:href => "http://bohshop.bigcartel.com/"} Shop
          %li
            %a{:href => "/donate/"} Donate
          %li
            %a{:href => "/"} Return Policy
    .three.columns
      %p

