%footer
  .row
    .large-12.columns.header-line
      %hr
  %nav
    .links
      %ul
        -#%li
        -#  %a{href: '/financials/'} Financials
        -#%li
        -#  %a{href: 'http://bohshop.bigcartel.com/'} Shop
        -#%li
        -#  %a{href: '/donate/'} Donate
        -#%li
        -#  %a{href: '/return-policy/'} Return Policy
    .social
      %ul
        %li
          %a{href: 'http://facebook.com/becauseofhope'}
            %i.icon-facebook-sign
        %li
          %a{href: 'http://becauseofhope.tumblr.com/'}
            %i.icon-tumblr-sign
        %li
          %a{href: 'http://twitter.com/becauseofhope'}
            %i.icon-twitter-sign
        %li
          %a{href: 'http://instagram.com/becauseofhope'}
            %i.icon-instagram
        %li
          %a{href: 'http://pinterest.com/becauseofhope/'}
            %i.icon-pinterest-sign
