%header
  %nav.top-bar{:'data-topbar' => true}
    %ul.title-area
      %li.name
        %a.logo{href: 'http://shop.becauseofhope.org'}
          %img{src: '/assets/images/logo.png'}

      %li.toggle-topbar.menu-icon
        %a{href:'#'}
          %span Menu
    %section.top-bar-section.overhang-right
      %ul.right
        %li
          %a{href: 'javascript:history.go(-1)'} Go Back

  .row
    .large-12.columns.header-line
      %hr
