%head
  %meta{:name => "viewport", :content => "width=device-width, initial-scale=1.0"}
  %title= "BOH - #{item[:title]}"
  %link{:href => "/assets/stylesheets/normalize.css", :rel => "stylesheet"}
  %link{:href => "/assets/stylesheets/app.css", :rel => "stylesheet"}
  %script{:src => "/assets/javascripts/vendor/custom.modernizr.js"}