%head
  %meta{:name => "viewport", :content => "width=device-width, initial-scale=1.0"}
  %title= "BOH - #{item[:title]}"
  %link{:href => "/assets/stylesheets/app.css", :rel => "stylesheet"}
  %script{:src => "//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"}
  %script{:src => "/assets/javascript/foundation/modernizr-foundation.js"}
  %script{:src => "/assets/javascript/foundation/foundation-min.js"}
  %script{:src => "/assets/javascript/foundation/app.js"}
  -# %script{:href => "/assets/javascript/webfont.js"}
