%header
  %nav.top-bar{:'data-topbar' => true}
    %ul.title-area
      %li.name
        %a.logo{href: '/'}
          %img{src: '/assets/images/logo.png'}

      %li.toggle-topbar.menu-icon
        %a{href:'#'}
          %span Menu
    %section.top-bar-section.overhang-right
      %ul.right
        %li
          %a{href: 'http://shop.becauseofhope.org/products'} Shop
        %li
          %a{href: '/donate/'} Donate
        %li.has-dropdown
          %a SB Marathon
          %ul.dropdown
            %li
              %a{href: '/sbmarathon/register/'} Register
            %li
              %a{href: '/sbmarathon/donate/'} Donate
        %li.has-dropdown
          %a About Us
          %ul.dropdown
            %li
              %a{href: '/ourwork/'} Mission
            %li
              %a{href: '/getinvolved/'} Get Involved
        %li.has-dropdown
          %a Programs
          %ul.dropdown
            %li
              %a{href: '/programs/bssp/'} BSSP
            %li
              %a{href: '/programs/beads/'} Beads Project
            %li
              %a{href: '/agriculture/'} Agriculture
        %li
          %a{href: 'http://blog.becauseofhope.org'} Blog
  .row
    .large-12.columns.header-line
      %hr
