%header
  .top-nav
    .row
      .large-3.columns.logo
        %a{:href => "/"}
          %img{:src => "/assets/images/logo.png"}
      .large-9.columns
        .nav-bar.right
          %ul.button-group
            %li
              %a.button{:href => "/"} Programs
            %li
              %a.button{:href => "/"} Home
            %li
              %a.button{:href => "/aboutus/"} About Us
            %li
              %a.button{:href => "/"} Get Involved
            %li
              %a.button{:href => "http://becauseofhope.tumblr.com/tagged/blog"} Blog
            %li
              %a.button{:href => "http://bohshop.bigcartel.com/"} Shop
            %li
              %a.button{:href => "/donate/"} Donate
  .row
    .large-12.columns.header-line
      %hr
