%header
  %nav.top-bar
    %ul.title-area
      %li.name
        %a.logo{href: '/'}
          %img{src: '/assets/images/logo.png'}

      %li.toggle-topbar.menu-icon
        %a{href:'#'}
          %span Menu
    %section.top-bar-section.overhang-right
      %ul.right
        %li
          %a{href: 'http://shop.becauseofhope.org/'} Shop
        %li
          %a{href: '/donate/'} Donate
        %li
          %a{href: '/ourwork/'} Mission
        %li
          %a{href: '/programs/beads/'} Beads Project
        %li
          %a{href: '/programs/bssp/'} BSSP
        %li
          %a{href: '/getinvolved/'} Get Involved
        %li
          %a{href: 'http://blog.becauseofhope.org'} Blog
  .row
    .large-12.columns.header-line
      %hr
