%header
  %nav.top-bar{:'data-topbar' => true}
    %ul.title-area
      %li.name
        %a.logo{href: 'http://shop.becauseofhope.org'}
          %img{src: '/assets/images/logo.png'}

      %li.toggle-topbar.menu-icon
        %a{href:'#'}
          %span Menu
    %section.top-bar-section.overhang-right
      %ul.right
        %li
          - if /^\/programs\/bssp/.match(@item.identifier)
            %a{href: 'https://because-of-hope.myshopify.com/pages/boh-student-scholarship-program'} Return to BSSP
          - else
            %a{href: 'https://because-of-hope.myshopify.com/collections/all'} Return to Shop

  .row
    .large-12.columns.header-line
      %hr
