%header
  %nav.top-bar
    %ul.title-area
      %li.name
        %a.logo{href: '/'}
          %img{src: '/assets/images/logo.png'}

      %li.toggle-topbar.menu-icon
        %a{href:'#'}
          %span Menu
    %section.top-bar-section.overhang-right
      %ul.right
        %li
          %a{href: '/'} Home
        -#%li
        -#  %a{href: '/programs/'} Programs
        -#%li
        -#  %a{href: '/aboutus/'} About Us
        -#%li
        -#  %a{href: '/getinvolved/'} Get Involved
        %li
          %a{href: 'http://becauseofhope.tumblr.com/taed/blog'} Blog
        %li
          %a{href: 'http://shop.becauseofhope.org/'} Shop
        %li
          %a{href: '/donate/'} Donate

  .row
    .large-12.columns.header-line
      %hr
