- render 'default' do
  .row
    .small-12.columns.text-center
      %img.th{alt: item[:title],src: item[:thumbnail]}
      %h1
        = @item[:title]
  .row
    .small-12.columns
      %p
        = @item[:description]
  - if not @item[:donationLink].nil?
    %a.text-center{href: item[:donationLink]}
      %h2 Sponsor this Student



