.sidebar
  .featured
    %h3 Featured Content
    %hr
    .row.program
      %img{:src => "/assets/images/featured_beads_button.png"}
    .row.program
      %img{:src => "/assets/images/featured_bssp_button.png"}
  %hr
  %h3 Like us on Facebook
  .row.fbbutton
    .twelve.columns
      =render 'fbbutton'
  %hr
  %h3 Upcoming Events
  .row.program
    %img{:src => "http://placehold.it/259x150"}

  %hr
  %h3 Contact Us
  %address{:class => "vcard"}
    %span{:class => "adr"}
      .fn Because of Hope
      .street-address P.O. Box 30995
      %span{:class => "locality"} Santa Barbara
      %span,
      %span{:class => "region", :title => "California"} CA
      %span{:class => "postal-code"} 93130
    %br
    %br
    .email info@becauseofhope.org

