.sidebar
  %h3 Featured Content
  %hr
  .program
    %a{href:'/onelessforonemore/'}
      %img{src: '/assets/images/featured_olfom_button.jpg'}
    %a{href:'/programs/bssp/'}
      %img{src: '/assets/images/featured_bssp_button.jpg'}
  %hr
  %h3 Like us on Facebook
  .row.fbbutton
    .large-12.columns
      =render 'fbbutton'
  %h3 Subscribe to out mailing list
  .row.fbbutton
    .large-12.columns
      =render 'mcform'
  %hr
  %h3 Upcoming Events
  
  #gcal-events
    %a{href:'https://www.google.com/calendar/embed?src=becauseofhope.org_ng2q263m02042iq8rlffedpsto@group.calendar.google.com&ctz=America/Los_Angeles'}
      .button
        Click HERE to see BOH's Calendar!
  %hr
  %h3 Contact Us
  %address.vcard
    %span{class: 'adr'}
      .fn Because of Hope
      .street-address P.O. Box 30995
      %span.locality Santa Barbara
      %span,
      %span.region{title: 'California'} CA
      %span.postal-code 93130
    %br
    %br
    .email info@becauseofhope.org

