.sidebar
  %h4 Featured Content
  %hr
  %h4 Like us on Facebook
  %hr
  %h4 Upcoming Events
  %hr
  %h4 Contact Us
  %address{:class => "vcard"}
    %span{:class => "adr"}
      %div{:class => "street-address"} P.O. Box 30995
      %span{:class => "locality"} Santa Barbara
      %span{:class => "region", :title => "California"} CA
      %div{:class => "postal-code"} 93130
  %p info@becauseofhope.org

