.sidebar
  %h4 Address
  %address{:class => "vcard"}
    %span{:class => "adr"}
      %div{:class => "street-address"} P.O. Box 30995
      %span{:class => "locality"} Santa Barbara
      %span{:class => "region", :title => "California"} CA
      %div{:class => "postal-code"} 93130
